.footer {
    color: #adadad;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  

.footer ul a {
  margin-right: 30px; 
 
}

.footer-list {
  color: #777777;
}


  
