.footer {
    background: #f0e3d5;
    color: #616161;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  .footer ul a {
    margin-right: 20px; 
}
  
  
