.footer {
    background: #ffffff;
    color: #333333;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  .footer ul a {
    margin-right: 20px; 
}
  
  
