/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
html {
  height: 100vh;

}

body {
    height: 100%;
    background: #ffffff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }


   /* Jumbotron.jsx  */

.jumbotron {
  position: relative;
  top: 0;
}

.img-jumbotron {
  width:100%;
} 


  /* Interactive.jsx  */

  .interactive-first {
    background: #6fb15e;
  }


 /* Principal.jsx  */

  .card-opinion {
    width: 25rem;
    height: 17rem;
  }
  .card-treatments {
    width: 25rem;
    height: 17rem;
  }
  .card-galery {
    width: 25rem;
    height: 17rem;
  }

.principal {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
}


 /* Footer.jsx  */

.footer-list {
  color: #333333;
}

